<!--
<div style="text-align:center">
  <h1>
    Type de session : {{ sessionType }}
  </h1>
  <h1 *ngIf="actualSession">
    Session actuelle : {{ actualSession }}
  </h1>
  <h1 *ngIf="NBStudentsOnline">
    Nombre utilisateurs connectés : {{ NBStudentsOnline }}
  </h1>
</div>


<button mat-button (click)="openModule(1)">Start Session 1</button>
<button mat-button (click)="openModule(2)">Start Session 2</button>
<button mat-button (click)="openModule(3)">Start Session 3</button>

<button mat-button (click)="closeModule(1)">Stop Session 1</button>
<button mat-button (click)="closeModule(2)">Stop Session 2</button>
<button mat-button (click)="closeModule(3)">Stop Session 3</button>

<button mat-button (click)="sendNewQuestion()">New question (PROF)</button>

<button mat-button (click)="printResponseQuestion(1)">Print response question : session 1 (PROF)</button>

<button mat-button (click)="sendNewResponse()">New Response (STUDENT)</button>

<button mat-button (click)="joinModule(1)">Join room 1 !</button>
<button mat-button (click)="joinModule(2)">Join room 2 !</button>
<button mat-button (click)="joinModule(3)">Join room 3 !</button>


<button mat-button (click)="quitModule(1)">Quit room 1 !</button>
<button mat-button (click)="quitModule(2)">Quit room 2 !</button>
<button mat-button (click)="quitModule(3)">Quit room 3 !</button>
<app-login></app-login>
-->
<!--<app-session [qcmID]=1 [isTeacher]=true></app-session>-->
<router-outlet></router-outlet>