<div class="container">
  <div class="wrap">
    <div class="containernote">
      <table>
        <thead>
          <tr>
            <th>Matière</th>
            <th>QCM 1</th>
            <th>QCM 2</th>
            <th>QCM 3</th>
           
          </tr>
        </thead>
        <tbody>
         <tr>
           <td>Maths</td> 
            <td *ngFor="let notes of this.listNotesMatieres.get('Maths') | slice: -3">{{notes}}</td>
          </tr>
          <tr>
            <td>Histoire</td> 
            <td *ngFor="let notes of this.listNotesMatieres.get('Histoire')| slice: -3">{{notes}}</td>
          </tr>
          <tr>
            <td>Informatique</td> 
            <td *ngFor="let notes of this.listNotesMatieres.get('Informatique')| slice: -3">{{notes}}</td>
          </tr>

          <!----<tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td>Cell 5</td>
          </tr>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td>Cell 5</td>
          </tr>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td>Cell 5</td>
          </tr>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td>Cell 5</td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
