.wrap{
  width: 100%;
  max-width: 780px;
  height: 85%;
  max-height:678px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrap a {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}

.wrap a:hover {
  opacity: 0.9;
}
.wrap a span {
  position: absolute;
  width: 200px;
  top: -15px;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  color:black;
  text-transform: uppercase;
}
#creerQCM {
  background-color: rgb(45,120,134);
  background-image: url('../../assets/creerQCM.svg');
}

#participerQCM {
  background-color: rgb(77,207,194);
  background-image: url('../../assets/participerQCM.svg');
}

#administrerQCM {
  background-color: rgb(246,115,122);
  background-image: url('../../assets/administrerQCM.svg');
}
#notesElevesQCM {
  background-color: rgb(246,115,122);
  background-image: url('../../assets/consulterNotesEleves.svg');
}

.statsQCM {
  background-color: rgb(77,207,194);
  background-image: url('../../assets/stats.svg');
}

#notesQCM {
  background-color: rgb(255,202,79);
  background-image: url('../../assets/consulterMesNotes.svg');
}

@media(max-width:1000px) {
  .wrap {
    width: 100%;
    height: initial;
    max-height: initial;
    background: white;
    border-radius: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .wrap > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}